.headBar {
    text-align: center;
  }
  #JoinButton {
    margin-right: 60px;
  }
  .form-group {
    margin-top: 20px;
  }
  .LoginButton {
    float: right;
    margin-top: 50px;
  }
  .row {
    margin-top: 40px;
  }
  .my-1{
    font-size: 130%;
  }
  .mr-2{
    font-size: 80%;
    font-weight: bold;
  }